.card {
  border: 2px solid black;
  font-weight: bold;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  position: relative;
}

.tooltip{
  border: 2px solid black;
  background: black;
  color: white;
  border-radius: 0.3rem;
  padding: 2rem;
  position: absolute;
  right: -13rem;
  z-index: 2;
  position: relative;
}

.sign{
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: -0.6rem;
  background: black;
  transform: rotate(45deg);
}

.title{
  font-size: 0.7rem;
}

.card_tooltip_container{
display: flex;
flex-direction: column;
gap: 5rem;
justify-content: center;
align-items: center;
padding: 2rem;
/* position: relative; */
}














/* .user {
  border: 1.5px solid #64748b;
  font-weight: bold;
  font-size: 0.9rem;
  background: #64748b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
}

.company {
  border: 1.5px solid #3b82f6;
  font-size: 0.9rem;
  font-weight: bold;
  background: #3b82f6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
}

.interview {
  border: 1.5px solid #6366f1;
  font-size: 0.9rem;
  font-weight: bold;
  background: #6366f1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
}

.reject {
  border: 1.5px solid #ef4444;
  font-size: 0.9rem;
  font-weight: bold;
  background: #ef4444;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
}

.accept {
  border: 1.5px solid #22c55e;
  font-size: 0.9rem;
  font-weight: bold;
  background: #22c55e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
}

.call {
  border: 1.5px solid #eab308;
  font-size: 0.9rem;
  font-weight: bold;
  background: #eab308;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
} */
